{% extends "base_generic.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Get in Touch</h5>
        <p class="card-text">
            If you have any questions or need further assistance, please don't hesitate 
            to reach out to contact us. You can reach us at support@booking.com or call us 
            at 1-800-123-4567.
        </p>
    </div>
</div>
{% endblock %}
