{% extends "base_generic.html" %}

{% block title %}Discounted Rooms{% endblock %}

{% block content %}
<h1>Discounted Rooms</h1>
{% for room in discounted_rooms %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ room.title }}</h5>
            <p class="card-text">{{ room.description }}</p>
            <p class="card-text">Discounted Price: ${{ room.price }}</p>
            <a href="{% url 'room_detail' room.pk %}" class="btn btn-primary">View Room</a>
        </div>
    </div>
{% endfor %}
{% endblock %}
