{% extends "base_generic.html" %}

{% load static %}

{% block title %}Featured Rooms{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Featured Rooms{% if location != "N/A" %} in {{ location }}{% endif %}</h1>
    {% if rooms %}
    <div class="row mt-4">
        {% for room in rooms %}
        <div class="col-md-3">
            <div class="card">
                {% if room.room_pictures %}
                    <img src="{{ room.room_pictures.url }}" class="card-img-top" alt="Image of {{ room.title }}">
                {% else %}
                    <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="No image available">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ room.title }}</h5>
                    <p class="card-text">{{ room.description|truncatewords:10 }}</p>
                    <a href="{% url 'room_detail' room.pk %}" class="btn btn-primary">View Room</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center">No rooms available{% if location != "N/A" %} in {{ location }}{% endif %}.</p>
    {% endif %}
</div>
{% endblock %}
