.navbar-dark.bg-primary {
    background-color: #37753a !important; 
    color: white;  
}

footer {
    background-color: #4b884eb3 !important;  
    color: white !important;  
}

.navbar-dark .navbar-nav .nav-link {
    color: #c4c4c4c9;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ccc; 
}

.btn-outline-success {
    color: white;
    border-color: white; 
}

.btn-outline-success:hover {
    color: #37753a;
    background-color: white;
    border-color: white;
}
